@charset "UTF-8";
/* 共通 */
html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", "sans-serif";
  letter-spacing: 0.08em;
  background-color: #fff;
  color: #333;
  font-weight: normal;
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.section-title-center {
  text-align: center;
}

.section-title {
  font-size: 3.6rem;
  margin: 80px 0;
}

h2 {
  position: relative;
  display: inline-block;
}

h2:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px;
  /*線の上下位置*/
  display: inline-block;
  width: 120px;
  /*線の長さ*/
  height: 5px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #775f55;
  border-radius: 2px;
}

h3 {
  font-size: 2.4rem;
  margin-top: 48px;
}

dt {
  font-weight: normal;
  font-size: 1.8rem;
}

/* お問い合わせフォーム */
.contact {
  width: 100%;
  background-color: #c7bdb9;
  margin-bottom: 120px;
  max-width: none;
  padding-bottom: 80px;
}

.contact-text {
  letter-spacing: 0.08em;
  line-height: 32px;
  padding-bottom: 40px;
}

.contact-text span {
  color: red;
}

.contact-contents {
  padding: 60px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}

.form-item {
  position: relative;
  padding: 40px 0;
}

.form-item span {
  position: absolute;
  color: red;
  display: inline-block;
}

#category {
  opacity: 0;
  height: 0;
}

.selectBox {
  height: 48px;
  border-bottom: 1px solid #9e9e9e;
  width: 100%;
}

input {
  display: flex;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #9e9e9e;
}

textarea {
  margin-top: 4px;
  width: 100%;
  height: 160px;
  overflow: auto;
  border: 1px solid #9e9e9e;
  border-radius: 0.4rem;
}

.form-btn {
  width: 200px;
  margin: 0 auto;
  background-color: #856f66;
  color: #ffffff;
  padding: 4px;
  border-radius: 0.4rem;
  text-align: center;
  cursor: pointer;
}

.form-btn input {
  border: none;
  display: inline-block;
}

/* トップへ戻る */
.page-top {
  position: fixed;
  bottom: 30px;
  right: 60px;
  background-color: #775f55;
  border-radius: 50%;
  transition: all 0.3s;
  /*==============================================================
  # レスポンシブ 787pxまでの設定
==============================================================*/
}

.page-top a {
  position: relative;
  display: block;
  width: 6rem;
  height: 6rem;
  text-decoration: none;
}

.page-top a .material-symbols-outlined {
  font-size: 6rem;
  font-weight: 300;
  color: #fff;
}

@media screen and (max-width: 787px) {
  .page-top {
    /* 共通 */
    /* マテリアルアイコン */
  }
  .page-top .section-title {
    font-size: 2.4rem;
    margin: 40px 0;
  }
  .page-top h2::before {
    width: 80px;
  }
  .page-top #open {
    font-size: 4rem;
  }
  .page-top .overlay.show {
    opacity: 1;
    pointer-events: auto;
    margin-left: auto;
  }
  .page-top .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    text-align: left;
    padding: 50px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
    z-index: 150;
    width: 72%;
  }
  .page-top .sp-menu {
    margin-top: 180px;
  }
  .page-top .sp-menu .sp-nav-list {
    padding: 10px;
    line-height: 4;
  }
  .page-top #close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 4rem;
    color: black;
    cursor: pointer;
  }
  .page-top .page-top {
    right: 20px;
  }
  .page-top .page-top a {
    width: 4rem;
    height: 4rem;
  }
  .page-top .page-top a .material-symbols-outlined {
    font-size: 4rem;
  }
}
