@charset "UTF-8";
/* footer */
footer {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

footer li {
  padding: 0 40px;
  cursor: pointer;
}

/*==============================================================
  # レスポンシブ 787pxまでの設定
==============================================================*/
@media screen and (max-width: 787px) {
  /* footer */
  footer li {
    padding: 0 20px;
    font-size: 12px;
  }
}
