/* footer */
footer {
  max-width: 1080px;
  margin: 80px auto 0;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  li {
    padding: 0 40px;
    cursor: pointer;
  }
}

// WP化でクラス名書き換えられた 旧）footer li
@media screen and (max-width: 787px) {
  .menu-item {
    padding: 0 20px;
    font-size: 12px;
  }
}
