/* footer */
footer {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  li {
    padding: 0 40px;
    cursor: pointer;
  }
}
