/* header */
header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 50;
}

.nav-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
  max-width: 1080px;
}

.logo img {
  width: 160px;
}

.pc-nav {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  @media screen and (max-width:787px) {
    display: none;
  }
}

.nav-lists {
  display: flex;
  justify-content: center;
  @media screen and (max-width:787px) {
    display: none;
  }
}
// WP化でクラス名書き換えられた 旧）.nav-list
.menu-item {
  padding-left: 40px;
}


.uLine {
  text-decoration: none;
}

.uLine-center {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.3rem;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: #c7bdb9;
    transition: all 0.5s;
  }
}

.uLine:hover .uLine-center:after {
  width: 100%;
}


.sp-icon {
  opacity: 0;
  @media screen and (max-width:787px) {
    opacity: 1;
    margin-left: auto;
  }
}

.overlay {
  opacity: 0;
}
