/*==============================================================
# Topページ(index.html)
==============================================================*/
/* fv */
.fv {
  max-width: 1080px;
  margin-bottom: 120px;
  @media screen and (max-width: 787px) {
    margin: 100px 0;
  }
}
.fv-img img {
  width: 100%;
}

/* section 私について */
.aboutme {
  margin-bottom: 120px;
  @media screen and (max-width: 787px) {
    margin-bottom: 100px;
    background-color: #FAFAFA;
    padding-bottom: 40px;
  }
}

.aboutme-content {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 787px) {
    flex-direction: column-reverse;
  }
}

.aboutme-left {
  max-width: 480px;
  padding: 20px;
  @media screen and (max-width: 787px) {
    margin: 0 auto;
  }

  p {
    letter-spacing: 0.1em;
    margin-bottom: 40px;
    line-height: 24px;
  }
}

.name {
  font-size: 2.4rem;
  @media screen and (max-width: 787px) {
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
  }
}

@media screen and (max-width: 787px) {
  .remarks {
    letter-spacing: 0.05em;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 787px) {
  .btn {
    text-align: center;
  }
}

.btn a {
  // position: absolute;
  color: #535d60;
  border: solid #856f66;
  background-color: #ffffff;
  padding: 10px 40px;
  width: 135px;
  height: 40px;
  border-radius: 0.4rem;

  &:hover {
    background-color: #856f66;
    color: #ffffff;
  }
}

@media screen and (max-width: 787px) {
  .aboutme-right {
    margin: 0 auto;
  }
}
.aboutme-right img {
    width: 300px;
    height: 300px;
    @media screen and (max-width: 787px) {
      width: 250px;
      height: 250px;
  }
}

/* section 制作実績 */
.works {
  margin-bottom: 120px;
  @media screen and (max-width: 787px) {
    margin-bottom: 100px;
  }
}

.slick-slide {
  max-height: 600px;
  object-fit: cover;
}

.slider-list img {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
  }
}

.slider-link {
  position: relative;

  &:hover .slider-hov {
    opacity: 1;
  }
}

.slider-hov {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  background-color: rgba(133, 111, 102, 0.7);
  transition: 0.3s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.works-menu {
  font-size: 5.6rem;
  @media screen and (max-width: 787px) {
    font-size: 2rem;
  }
}
.works-menu-viewmore {
  font-size: 2rem;
  padding-top: 8px;
  @media screen and (max-width: 787px) {
    font-size: 1.2rem;
  }
}


/* section できること */
.service {
  margin-bottom: 120px;
}

.service-item {
  display: flex;
  margin-bottom: 64px;
  border-radius: 3.6rem;
  padding: 40px 20px;
  align-items: center;
  box-shadow: 10px 10px 30px #d2d2d7;
  @media screen and (max-width: 787px) {
    flex-direction: column;
    padding: 40px 20px;
  }
}
@media screen and (max-width: 787px) {
  .service-img {
    margin: 0 auto;
    img {
      width: 220px;
      height: 160px;
      background-color: rgba(199, 189, 185, 0.4);
      border-radius: 20px;
    }
  }
}

.service-text {
  padding-left: 40px;
  letter-spacing: 0.1em;
  line-height: 24px;
  width: 64%;
  @media screen and (max-width: 787px) {
    padding-left: 0;
    text-align: left;
    letter-spacing: 0.08em;
    line-height: 24px;
    width: 100%;
  }
}
@media screen and (max-width: 787px) {
  .service-text h3 {
    text-align: center;
    margin-top: 20px;
  }
}

.service-text p {
  margin: 48px 0;
  @media screen and (max-width: 787px) {
    margin: 20px 0 0;
  }
}
@media screen and (max-width: 787px) {
  .contact {
    margin-bottom: 100px;
  }
}
