@charset "UTF-8";
/*==============================================================
実績一覧ページ(works.html)
==============================================================*/
.worksPage {
  width: 100%;
}

@media screen and (max-width: 787px) {
  .worksPage {
    margin: 100px 0 0 0;
  }
}

.work-flex {
  padding: 0 40px;
}

.works-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media screen and (max-width: 787px) {
  .works-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 20px;
  }
}

.works-item {
  margin-bottom: 40px;
  padding: 8px;
  box-shadow: 10px 10px 10px 10px #d2d2d7;
}

@media screen and (max-width: 787px) {
  .works-item {
    margin-bottom: 40px;
  }
}

.works-text dl {
  margin: 4%;
  line-height: 24px;
  position: relative;
}

.works-text dl dt {
  font-size: 1.8rem;
  font-weight: bold;
}

.works-text dl dt::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 20px;
  background-color: rgba(30, 124, 210, 0.8);
  position: absolute;
  top: 2px;
  left: -12px;
}

.works-text dl dd {
  padding-top: 10px;
}

.works_box {
  position: relative;
  overflow: hidden;
}

figure img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

@media screen and (max-width: 787px) {
  figure img {
    width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
  }
}

figcaption.hover-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(238, 236, 229, 0.7);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  padding: 30px;
  font-size: 2rem;
  color: #856F66;
  letter-spacing: 0.1em;
}

figcaption.hover-mask:hover {
  opacity: 1;
  transition: all 0.6s ease;
}

/*==============================================================
実績ごとのページ(works1.htmlからworks5.htmlまで)
==============================================================*/
.works-web {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 120px;
}

@media screen and (max-width: 787px) {
  .works-web {
    padding-top: 100px;
    margin: 0 auto;
    width: 100%;
  }
}

.works-web .section-title {
  margin: 80px 0 0;
}

@media screen and (max-width: 787px) {
  .works-web .section-title {
    margin: 40px 0 0;
  }
}

.works-flex {
  width: 100%;
}

.worksPage-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

dl.works-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 20px;
  font-size: 1.6rem;
}

@media screen and (max-width: 787px) {
  dl.works-summary {
    flex-direction: column;
    letter-spacing: 0.05em;
  }
}

dt.works-heading {
  display: block;
  width: 24%;
  margin-bottom: 30px;
}

@media screen and (max-width: 787px) {
  dt.works-heading {
    margin-bottom: 12px;
  }
}

dt.works-heading .material-symbols-outlined {
  font-size: 1.6rem;
  display: inline-flex;
  vertical-align: middle;
}

dd.works-text {
  width: 75%;
  margin-bottom: 30px;
}

@media screen and (max-width: 787px) {
  dd.works-text {
    width: 100%;
    white-space: normal;
  }
}

dd.works-text a {
  word-break: break-all;
  color: #856f66;
  background-color: #F1F0EA;
}

.works-btn {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

@media screen and (max-width: 787px) {
  .works-btn {
    gap: 20px;
    margin-top: 40px;
  }
}

.works-btn a {
  padding: 10px 40px;
  border-radius: 0.4rem;
  margin: 0 40px;
  color: #535d60;
  border: solid #856f66;
  background-color: #ffffff;
}

@media screen and (max-width: 787px) {
  .works-btn a {
    padding: 5px 20px;
    margin: 0;
  }
}

.works-btn a:hover {
  background-color: #856f66;
  color: #ffffff;
}

.works-lists {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

@media screen and (max-width: 787px) {
  .works-lists {
    flex-direction: column;
    text-align: center;
  }
}

.left-pc {
  width: 50%;
}

@media screen and (max-width: 787px) {
  .left-pc {
    width: 100%;
    margin: 0 auto 40px;
  }
}

.left-pc p {
  padding-bottom: 8px;
  font-weight: 500;
}

.left-pc img {
  width: 100%;
  box-shadow: 4px 8px 9px #9a9696;
}

@media screen and (max-width: 787px) {
  .left-pc img {
    max-width: 650px;
    margin: 0 auto 40px;
  }
}

.right-sp {
  width: 10%;
}

@media screen and (max-width: 787px) {
  .right-sp {
    width: 100%;
    margin: 0 auto 40px;
  }
}

.right-sp p {
  padding-bottom: 8px;
  font-weight: 500;
}

.right-sp img {
  width: 100%;
  box-shadow: 4px 8px 9px #9a9696;
}

@media screen and (max-width: 787px) {
  .right-sp img {
    max-width: 180px;
    margin: 0 auto 40px;
  }
}
