@charset "UTF-8";
/*==============================================================
実績一覧ページ(works.html)
==============================================================*/
.worksPage {
  width: 100%;
}

@media screen and (max-width: 787px) {
  .worksPage {
    margin: 100px 0 0 0;
  }
}

.work-flex {
  padding: 0 40px;
}

.works-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  padding: 0 80px;
}

@media screen and (max-width: 787px) {
  .works-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding: 0 40px;
  }
}

.works-item {
  margin-bottom: 120px;
  padding: 8px;
  box-shadow: 10px 10px 10px 10px #d2d2d7;
}

@media screen and (max-width: 787px) {
  .works-item {
    margin-bottom: 80px;
  }
}

.works-text dl {
  margin: 4%;
  line-height: 24px;
  position: relative;
}

.works-text dl dt {
  font-size: 1.8rem;
  font-weight: bold;
}

.works-text dl dt::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 20px;
  background-color: rgba(30, 124, 210, 0.8);
  position: absolute;
  top: 2px;
  left: -12px;
}

.works-text dl dd {
  padding-top: 10px;
}

.works_box {
  position: relative;
  overflow: hidden;
}

figure img {
  width: 100%;
}

figcaption.hover-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(238, 236, 229, 0.7);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  padding: 30px;
  font-size: 2rem;
  color: #856F66;
  letter-spacing: 0.1em;
}

figcaption.hover-mask:hover {
  opacity: 1;
  transition: all 0.6s ease;
}

/*==============================================================
実績ごとのページ(works1.htmlからworks5.htmlまで)
==============================================================*/
.works-web {
  margin-bottom: 120px;
}

.worksPage-image {
  display: block;
  margin: 0 auto;
  max-width: 720px;
}

dl.works-summary {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 20px;
  font-size: 1.6rem;
}

dt.works-heading {
  display: block;
  width: 24%;
  margin-bottom: 30px;
}

dt.works-heading .material-symbols-outlined {
  font-size: 1.6rem;
  display: inline-flex;
  vertical-align: middle;
}

dd.works-text {
  width: 75%;
  margin-bottom: 30px;
}

.works-web h3 {
  text-align: left;
  margin: 80px 0;
}

.works-btn {
  margin: 40px auto 120px;
  width: 400px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
}

.item-btn {
  padding: 10px 40px;
  border-radius: 0.4rem;
  margin: 0 40px;
  color: #535d60;
  border: solid #856f66;
  background-color: #ffffff;
}

.item-btn:hover {
  background-color: #856f66;
  color: #ffffff;
}

.PC-left {
  width: 65%;
}

.SP-right {
  width: 30%;
}
